* {
    margin: 0;
    padding: 0;
}

body {
    background: darkblue;
    padding: 5%;
    font-family: "trebuchet MS";
}

#corpo {
    background: #fff;
    border: 1px solid brow;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

header {
    background-color: brown;
    padding: 2%;
    border-bottom: 1px solid #999;

}

header h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #00000062;
    text-transform: uppercase;
}

main {
    padding: 2%;
}

footer {
    background: brown;
    text-align: center;
    padding: 2%;
    border-top: 1px solid #999;
    color: white;


}

footer div {
    margin-top: 1%;

}

table {
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin: 2% 0 2% 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    cursor: default;
}

table thead tr {
    background: darkblue;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 2%;
}

table tbody td,
table thead th {
    padding: 10px;
}

table tbody td {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: brown;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    transform: scale(1.02);
}

.zebra {
    background: #eee;
}

img {
    width: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

.paginas a {
    background-color: burlywood;
    padding: 0.5% 2%;
    border-radius: 10px;
    color: black;

}

.paginas a:hover {
    background-color: rgb(255, 145, 0);
    padding: 0.5% 2%;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
    transform: scale(1.02);
}